* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto;
}

/* veriables */
:root {
    --main-color: #ff8367;
    --text-color: #363958;
    --button-color: #3D4FF3;
}

/* fonts */
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

/* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 120px 10px 80px;
    font-weight: var(--font-weight);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--background-color);
    font-weight: 1000;
    background-color: #fff9f4;
    position: sticky;
    top: 0;
}

header>nav {
    display: flex;
    align-items: center;
    font-size: large;
}

header>nav>div>img {
    width: 80px;
}

.color {
    color: #ff8367;
}

#react {
    font-weight: 400;
}

header>main>ul {
    display: flex;
    gap: 70px;
}

header>main>ul>li {
    list-style: none;
}

header>main>ul>li>a {
    color: rgba(0, 0, 0, 0.55);
}

header>div {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

/* section 1 NIKE REACT */
#section1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 30px 80px;
    background-color: #fff9f4;
}

#div-1 {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
}

#section1>div>img {
    width: 80%;
}

#div-2 {
    flex-direction: column;
    display: flex;
    width: 45%;
    padding: 0px 40px;
}

.arrange {
    font-family: bebas;
    font-size: 80px;
    font-weight: 500;
}

.blue {
    color: var(--text-color);
}

.button {
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    width: 100px;
    padding: 12px 6px;
    border-radius: 5px;
    font-weight: 500;
}

/* section 2 CASUAL SHOES */

#section2 {
    background-color: #E5E5E5;
    padding: 0px 70px;
}

#section2>h1 {
    padding: 50px 0 5px;
    font-family: bebas;
    font-size: 50px;
    font-weight: 400;
}

#section2>main {
    display: flex;
    gap: 25px;
}

#section2>main>div {
    background-color: #fff9f4;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: white;
}

#section2>main>div>div {
    background-color: #F1F1F1;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#section2>main>div>div>img {
    width: 100%;
}

#section2>main>div>span {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.para {
    padding: 0 15px;
}

/* section 2 FORMAL SHOES */

#section2>main>div>img {
    width: 100%;
}

/* section 3 */
#section3 {
    display: flex;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding: 50px 70px;
    width: 100%;
}

#section3>main {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#section3>main>div {
    background-color: white;
    display: flex;
    width: 90%;
    align-items: center;
    padding: 30px 50px;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

#section3>main>div>img {
    width: 20%;
}

#section3>main>div>span {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section3>div {
    width: 50%;
}

#section3>div>img {
    width: 100%;
}

/* section 4 SUBSCRIBE */

#section4 {
    background-color: #E5E5E5;
    padding: 10px 70px 50px;
}

#section4>div {
    background-color: white;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    padding: 30px 0 50px;
}

#section4>div>h2 {
    padding-bottom: 45px;
}

#section4>div>input {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 0.24rem;
    color: #212529;
    border: 1px solid #ced4da;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: medium;
}

#section4>div>button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 10px;
    width: 90px;
    font-size: medium;
}

/* section 5 DETAILS */

#section5 {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section5>main {
    display: flex;
    width: 100%;
}

#section5>main>div {
    width: 50%;
}

#section5>main>div>h3 {
    padding: 15px 0;
    font-weight: 1000;
}

#section5>main>div>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#section5>p {
    padding: 50px 0 0;
}

/* HOVER */

button:hover {
    cursor: pointer;
    border-color: #0a58ca;
}

button:focus {
    background-color: #0b5ed7;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

input:focus {
    border-color: rgb(161, 194, 240);
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.3);
    outline: none;
}

.green:hover {
    cursor: pointer;
    background-color: rgb(20, 111, 69);
    border-color: rgb(20, 111, 69);
}

.green:focus {
    box-shadow: 0 0 0 0.25rem rgba(20, 111, 69, 0.5);
    background-color: rgb(20, 111, 69);
    border-color: rgb(20, 111, 69);
}

ul:hover {
    cursor: pointer;
}

/* MEDIA QUERIES FOR MOBILES*/

@media screen and (max-width:480px) {

    /* navbar */
    header {
        padding: 12px 20px 10px 12px;
        position: sticky;
        top: 0;
    }

    header>nav>div {
        width: 15%;
        font-size: 20px;
    }

    header>nav>div>img {
        width: 100%;
    }

    #work {
        width: 35%;
    }

    header>main {
        display: none;
    }

    header>div {
        display: block;
        border: 1px solid rgb(222, 220, 220);
        padding: 4px 10px;
        border-radius: 5px;
    }

    header>div>i {
        color: rgba(0, 0, 0, 0.55);
        font-size: 20px;
    }

    /* section 1 */
    #section1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 0 80px;
    }

    #section1>div {
        width: 100%;
    }

    #section1>div>img {
        width: 90%;
    }

    /* section 2 */
    #section2 {
        padding: 10px 15px;
    }

    #section2>main {
        display: flex;
        flex-direction: column;
    }

    #section2>main>div {
        width: 100%;
    }

    #section2>main>div>div>img {
        height: 80vh;
    }

    /* section 3 */
    #section3 {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px 20px;
    }

    #section3>div {
        width: 100%;
    }

    #section3>main {
        width: 100%;
        padding: 10px 0;
    }

    #section3>main>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        gap: 10px;
    }

    /* section 4 */
    #section4 {
        width: 100%;
        padding: 40px 20px;
    }

    #section4>div {
        width: 100%;
    }

    #section4>div>input {
        width: 55%;
    }

    /* footer */
    #section5 {
        width: 100%;
        padding: 40px 0;
    }

    #section5>main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #section5>p {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
}

/* MEDIA QUERIES FOR TABLETS */

@media screen and (min-width:480px) and (max-width:768px) {

    /* navbar */
    header {
        padding: 15px 120px 12px;
        position: sticky;
        top: 0;
    }

    header>nav>div {
        width: 15%;
        font-size: 20px;
    }

    header>nav>div>img {
        width: 100%;
    }

    #work {
        width: 35%;
    }

    header>main {
        display: none;
    }

    header>div {
        display: block;
        border: 1px solid rgb(222, 220, 220);
        padding: 4px 10px;
        border-radius: 5px;
    }

    header>div>i {
        color: rgba(0, 0, 0, 0.55);
        font-size: 20px;
    }

    /* section 1 */
    #section1 {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 0 80px;
    }

    #section1>div {
        width: 100%;
        display: flex;
        align-items: center;
    }

    #section1>div>img {
        width: 90%;
    }

    /* section 2 */
    #section2 {
        padding: 10px 15px;
    }

    #section2>h1 {
        padding-left: 80px;
    }

    #section2>main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #section2>main>div {
        width: 80%;
    }

    #section2>main>div>div>img {
        height: 80vh;
    }

    /* section 3 */
    #section3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 20px;
    }

    #section3>div {
        width: 80%;
    }

    #section3>main {
        width: 80%;
        padding: 10px 0;
    }

    #section3>main>div {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px;
        gap: 10px;
    }

    /* section 4 */
    #section4 {
        width: 100%;
        padding: 40px 20px;
        display: flex;
        justify-content: center;
    }

    #section4>div {
        width: 80%;
    }

    #section4>div>input {
        width: 55%;
    }

    /* footer */
    #section5 {
        width: 100%;
        padding: 40px 0;
    }

    #section5>main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    #section5>p {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
}