* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff9f4;
    font-family: roboto;
}

:root {
    --main-color: #ff8367;
    --text-color: #363958;
    --button-color: #3D4FF3;
}

/* fonts */
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

/* navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 120px 10px 80px;
    font-weight: var(--font-weight);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: var(--background-color);
    font-weight: 1000;
    position: sticky;
}

header>nav {
    display: flex;
    align-items: center;
    font-size: large;
}

header>nav>div>img {
    width: 80px;
}

.color {
    color: #ff8367;
}

#react {
    font-weight: 400;
}

header>main>ul {
    display: flex;
    gap: 70px;
}

header>main>ul>li {
    list-style: none;
}

header>main>ul>li>a {
    color: rgba(0, 0, 0, .55);
}

a {
    text-decoration: none;
    color: white;
}

/* section 1 NIKE REACT */
#section1 {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 30px 80px;
}

#div-1 {
    display: flex;
    width: 55%;
    justify-content: space-evenly;
}

#section1>div>img {
    width: 80%;
}

#div-2 {
    flex-direction: column;
    display: flex;
    width: 45%;
    padding: 0px 40px;
}

.arrange {
    font-family: bebas;
    font-size: 80px;
    font-weight: 500;
}

.blue {
    color: var(--text-color);
}

.button {
    background-color: var(--button-color);
    color: white;
    border: 1px solid var(--button-color);
    width: 100px;
    padding: 12px 6px;
    border-radius: 5px;
    font-weight: 500;
}

/* section 2 CASUAL SHOES */

#section2 {
    background-color: #E5E5E5;
    padding: 0px 70px;
}

#section2>h1{
    padding: 50px 0 5px;
    font-family: bebas;
    font-size: 50px;
    font-weight: 400;
}

#section2>main {
    display: flex;
    gap: 25px;
}

#section2>main>div {
    background-color: #fff9f4;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
    background-color: white;
}

#section2>main>div>div {
    background-color: #F1F1F1;
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#section2>main>div>div>img {
    width: 100%;
}

#section2>main>div>span{
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.para{
    padding: 0 15px;
}

/* section 2 FORMAL SHOES */

#section2>main>div>img{
    width: 100%;
}

/* section 3 */
#section3{
    display: flex;
    justify-content: space-between;
    background-color: #E5E5E5;
    padding: 50px 70px;
    width: 100%;
}
#section3>main{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#section3>main>div{
    background-color: white;
    display: flex;
    width: 90%;
    align-items: center;
    padding: 30px 50px;
    gap: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
}

#section3>main>div>img{
    width: 20%;
}

#section3>main>div>span{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#section3>div{
    width: 50%;
}

#section3>div>img{
    width: 100%;
}